// Consts and mixins
@import './styles/colors.scss';
@import './styles/consts.scss';
@import './styles/mediaqueries.scss';
@import './styles/mixins.scss';
@import './styles/general.scss';

// Set font-size and margin
html {
    --font-size: calc(2.8 * 62.5%);

    @include small-desktop {
        --font-size: calc(2.4 * 62.5%);
    }

    font-size: (var(--font-size));

    letter-spacing: 0.025em;
    word-spacing: 0.05em;

    // Same font everywhere unless told otherwise
    * {
        font: inherit;
    }
}

body {
    margin: 0;
}

// App
@import './styles/App.scss';

// Basic components
@import './styles/icons.scss';
@import './styles/input.scss';
@import './styles/button.scss';
@import './styles/textcontrol.scss';
@import './styles/tooltip.scss';
@import './styles/notification.scss';
@import './styles/languageselector.scss';

// Basic bigger components (umm this could use a better name?)
@import './styles/footer.scss';
@import './styles/header.scss';

// Game components
@import './styles/card.scss';
@import './styles/cardpicker.scss';
@import './styles/cardpack.scss';
@import './styles/music.scss';
@import './styles/timer.scss';
@import './styles/avatarcreator.scss';

// Layouts
@import './styles/home.scss';
@import './styles/instructions.scss';

// Game layouts
@import './styles/game.scss';
@import './styles/settings.scss';
@import './styles/gamesettings.scss';
@import './styles/historycontainer.scss';
@import './styles/playerswidget.scss';

// Other
@import './styles//layermenu.scss';
@import './styles/actionbuttonrow.scss';
