@import "./colors.scss";

.App {
    font-size: large;
    padding: 0;
    margin: 0;
    text-decoration: none;

    a {
        color: inherit;
        text-decoration: none;
    }

    input {
        text-decoration: none;
    }

    &.mono-background {
        background-color: $app-background;
    }

    &.background-img {
        background: linear-gradient(rgba(27, 27, 27, 0.8), rgba(0, 0, 0, 0.7)),
            url("background_img.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $app-text;

    .copyrights {
        position: fixed;
        bottom: 0;
        right: 0;
        color: $copyright-text;
    }
}
