.avatar-img-container-small {
    position: relative;
    width: 2em;

    @include small-desktop {
        width: 2.8em;
    }
}
.avatar-img-container-large {
    position: relative;
    width: auto;

    @include small-desktop {
        width: 7em;
    }
}
.avatar-background-image {
    width: 100%;
}
.avatar-overlay-image {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    /*  padding-bottom: calc(100% * ASPECTRATIO); 
        ASPECTRATIO ~ 4/3 */
    padding-bottom: 135%;
    height: 1px;
    overflow: visible;
}
