.avatar-img-container {
    position: relative;
}

.bgr-img {
    max-width: 150px;
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
}
.bgr-img-small {
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.hat-img {
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 0px;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
}
.hat-img-small {
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 0px;
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;
}
.eye-img {
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 0px;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
}
.eye-img-small {
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 0px;
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.mouth-img {
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 0px;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
}
.mouth-img-small {
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 0px;
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;
}
