.avatar-img-container {
    img {
        display: block;
        width: 100%;
    }
    .avatar-overlay-image {
        position: absolute;
        z-index: 1;
        left: 0;
    }
    .avatar-overlay-image svg {
        width: 100%;
        height: 100%;
        overflow: visible;
    }
}
