.avatar-creator-container {
    background-color: rgba(112, 144, 151, 0.3);
    border-radius: 2px;
    color: darken($app-text, 15%);

    display: grid;
    grid-template-columns: auto auto 2em min-content 2em;
    grid-template-rows: auto;
    grid-template-areas:
        'text hat arrowleft1 avatar arrowright1'
        'text eyes arrowleft2 avatar arrowright2'
        'text mouth arrowleft3 avatar arrowright3';
}

.text {
    grid-area: text;
}
.hat-text {
    grid-area: hat;
}
.eyes-text {
    grid-area: eyes;
}
.mouth-text {
    grid-area: mouth;
}
.arrow-left-1 {
    grid-area: arrowleft1;
}
.arrow-left-2 {
    grid-area: arrowleft2;
}
.arrow-left-3 {
    grid-area: arrowleft3;
}
.avatar {
    grid-area: avatar;
    justify-self: center;
}

.arrow-right-1 {
    grid-area: arrowright1;
}
.arrow-right-2 {
    grid-area: arrowright2;
}
.arrow-right-3 {
    grid-area: arrowright3;
}
