$lgd: 180deg; // linear-gradient degree
$shadow-radius: 3px;
$shadow-blur: 3px;
$shadow-color: rgba(0, 0, 0, 0.6);

.button {
    color: $button-text;
    text-align: center;
    white-space: nowrap;
    line-height: 1rem;

    display: inline-flex;
    align-items: center;

    height: fit-content;
    min-height: 1.8em;
    width: fit-content;

    box-sizing: border-box;

    padding: 0.3em 0.85em;
    border-radius: 0.5em;

    background: linear-gradient($lgd, $button-shadow, $button-background) $button-background;
    border: none;
    box-shadow: $shadow-radius $shadow-radius $shadow-blur $shadow-color;
    margin-bottom: $shadow-radius;
    backface-visibility: hidden;
    outline: none;

    cursor: pointer;
    user-select: none;

    &.fill {
        width: 100%;
        height: 100%;

        &-vertical {
            width: fit-content;
            height: 100%;
        }

        &-horizontal {
            width: 100%;
            height: fit-content;
        }
    }

    .button-icon {
        color: $button-text;
    }

    &:hover {
        background: linear-gradient($lgd, $button-shadow-hover, $button-background-hover) $button-background-hover;
    }

    &:focus {
        background: linear-gradient($lgd, $button-background-hover, $button-shadow-hover) $button-shadow-hover;
        box-shadow: $shadow-radius $shadow-radius $shadow-blur $shadow-color inset;
    }

    &.primary {
        color: $button-text-primary;
        background: linear-gradient($lgd, $button-shadow-primary, $button-background-primary) $button-background-primary;

        .button-icon {
            color: $button-text-green;
        }

        &:hover {
            background: linear-gradient($lgd, $button-shadow-primary-hover, $button-background-primary-hover) $button-background-primary-hover;
        }

        &:focus {
            background: linear-gradient($lgd, $button-background-primary-hover, $button-shadow-primary-hover) $button-shadow-primary-hover;
        }
    }

    &.green {
        color: $button-text-green;
        background: linear-gradient($lgd, $button-shadow-green, $button-background-green) $button-background-green;

        .button-icon {
            color: $button-text-green;
        }

        &:hover {
            background: linear-gradient($lgd, $button-shadow-green-hover, $button-background-green-hover) $button-background-green-hover;
        }

        &:focus {
            background: linear-gradient($lgd, $button-background-green-hover, $button-shadow-green-hover) $button-shadow-green-hover;
        }
    }

    &.disabled {
        cursor: default;
        box-shadow: none;
        background: linear-gradient($lgd, $button-shadow, $button-background) $button-background;

        &:hover {
            background: linear-gradient($lgd, $button-shadow, $button-background) $button-background;
        }

        &:focus {
            background: linear-gradient($lgd, $button-shadow, $button-background) $button-background;
        }

        .button-icon {
            cursor: default;
        }
    }

    &.big-btn {
        font-weight: 600;
        font-size: 1.4rem;
        padding: 0.4em 1em;
    }
}

.button-icon {
    margin-right: 0.5rem;

    &.after-text {
        margin-right: 0;
        margin-left: 0.5rem;
    }
}

.no-margin-right {
    margin-right: 0;
    min-width: 0;
}
