@import "./colors.scss";

$lgd: 180deg; // linear-gradient degree

.button {
    font-weight: 600;
    font-size: 1em;
    color: $button-text;
    outline: 0;
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 0.4rem 1rem;
    height: fit-content;
    width: fit-content;
    text-align: center;
    background: linear-gradient($lgd, $button-shadow, $button-background)
        $button-background;
    border: 1px solid $button-border;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    //box-shadow: 0 1.1px 1.1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    line-height: 24px;
    backface-visibility: hidden;
    outline: none;
    box-sizing: border-box;

    &.fill {
        width: 100%;
    }

    .button-icon {
        color: $button-text;
    }

    &:hover {
        background: linear-gradient(
                $lgd,
                $button-shadow-hover,
                $button-background-hover
            )
            $button-background-hover;
    }

    &:focus {
        background: linear-gradient(
                $lgd,
                $button-background-hover,
                $button-shadow-hover
            )
            $button-shadow-hover;
    }

    &.primary {
        color: $button-text-primary;
        border: 1px solid $button-border-primary;
        background: linear-gradient(
                $lgd,
                $button-shadow-primary,
                $button-background-primary
            )
            $button-background-primary;

        .button-icon {
            color: $button-text-green;
        }

        &:hover {
            background: linear-gradient(
                    $lgd,
                    $button-shadow-primary-hover,
                    $button-background-primary-hover
                )
                $button-background-primary-hover;
        }

        &:focus {
            background: linear-gradient(
                    $lgd,
                    $button-background-primary-hover,
                    $button-shadow-primary-hover
                )
                $button-shadow-primary-hover;
        }
    }

    &.green {
        color: $button-text-green;
        border: 1px solid $button-border-green;
        background: linear-gradient(
                $lgd,
                $button-shadow-green,
                $button-background-green
            )
            $button-background-green;

        .button-icon {
            color: $button-text-green;
        }

        &:hover {
            background: linear-gradient(
                    $lgd,
                    $button-shadow-green-hover,
                    $button-background-green-hover
                )
                $button-background-green-hover;
        }

        &:focus {
            background: linear-gradient(
                    $lgd,
                    $button-background-green-hover,
                    $button-shadow-green-hover
                )
                $button-shadow-green-hover;
        }
    }

    &.disabled {
        cursor: default;
        background: linear-gradient($lgd, $button-shadow, $button-background)
            $button-background;
        border: 1px solid $button-border;

        &:hover {
            background: linear-gradient(
                    $lgd,
                    $button-shadow,
                    $button-background
                )
                $button-background;
            border: 1px solid $button-border;
        }

        &:focus {
            background: linear-gradient(
                    $lgd,
                    $button-shadow,
                    $button-background
                )
                $button-background;
            border: 1px solid $button-border;
        }

        .button-icon {
            cursor: default;
        }
    }

    &.big-btn {
        font-weight: 600;
        font-size: 1.4em;
        padding: 0.4em 0.7em;

        .button-icon {
            font-size: 1.4em;
        }
    }
}

.button-icon {
    margin-right: 0.5rem;

    &.after-text {
        margin-right: 0;
        margin-left: 0.5rem;
    }
}

.no-margin-right {
    margin-right: 0;
    min-width: 0;
}
