.card-wrapper {
    --card-width: 16em;
    --card-height: 9.2em; // Fits 3 lines of text, I guess?

    font-family: "Ubuntu", sans-serif;
    font-size: 0.75rem;
    text-align: left;
    line-height: 1.6em;

    display: flex;
    justify-content: center;
    align-content: center;

    box-sizing: border-box;

    width: var(--card-width);
    min-height: var(--card-height);
    height: fit-content;

    padding: 0.25em;

    border-radius: 6px;

    .card {
        text-align: left;

        display: flex;
        flex-direction: column;

        box-sizing: border-box;

        width: 100%;
        height: 100%;
        min-height: var(--card-height);

        padding: 0.8em 1em;

        border-radius: 6px;

        &.white {
            background-color: $white-card-background;
            color: $white-card-text;

            > .text {
                :nth-child(n + 1) {
                    margin-top: 0.6em;
                }
            }
        }

        &.black {
            background-color: $black-card-background;
            color: $black-card-text;
        }

        > .text {
            margin: auto 0;
            overflow-wrap: break-word;

            .blank {
                border-bottom: 1px solid $black-card-text;
            }
        }

        > .footer {
            font-size: 0.4rem;
            text-align: right;
            line-height: normal;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: auto;
            padding-top: 1em;

            > .draw-and-play {
                font-size: 0.6rem;
            }
        }

        .popularvote-btn {
            cursor: pointer;
            font-size: 2.5em;

            &.no-action {
                cursor: default;
            }

            &.popular-vote-score {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                flex-wrap: nowrap;

                > .popular-vote-score {
                    font-size: 2em;
                    margin-left: 0.5em;
                }
            }
        }
    }

    &.big-card {
        width: 32em;
    }

    &.white {
        background-color: $white-card-background;
    }

    &.black {
        background-color: $black-card-background;
    }

    &.selected {
        background-color: $card-selected;
    }

    &.confirmed {
        background-color: $card-confimerd;
    }
}

.cardpicker-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .toptext {
        margin-bottom: 0.8rem;
        font-size: 1.8em;
    }

    > .main {
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;

        .content-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .alternativetext {
            background-color: lighten($app-background, 10%);
            padding: 0.2rem 0.6rem;
            border-radius: 5px;
            width: fit-content;
            text-align: center;
            margin: 1rem auto 0 auto;

            > .fa {
                margin-left: 0.6rem;
            }
        }

        > .confirm-button {
            align-self: center;
            margin: 0 3rem;

            &.non-selectable {
                pointer-events: none;
            }
        }
    }

    > .selectable {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 108rem;
        justify-content: center;

        .card-wrapper {
            margin: 0.5rem 0.5rem;
            cursor: pointer;
        }

        .description {
            text-align: left;
        }

        &.non-selectable {
            cursor: default;

            .card-wrapper {
                cursor: default;

                .popularvote-btn {
                    cursor: pointer;

                    &.no-action {
                        cursor: default;
                    }

                    &.popular-vote-score {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row;
                        flex-wrap: nowrap;

                        > .popular-vote-score {
                            font-size: 1rem;
                            margin-left: 0.5em;
                        }
                    }
                }
            }
        }
    }
}

.waiting {
    .card-wrapper {
        cursor: default !important;
    }
}

.cardreading-settings {
    margin: 0 auto;
    width: fit-content;
    white-space: nowrap;

    .icon-and-text {
        margin-right: 2rem;
    }
}
