@import "./colors.scss";

.cardpack-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .cardpack {
        display: flex;
        flex-direction: column;
        background-color: $setting-background;
        border-radius: 2px 0 0 2px;
        width: 100%;
        padding: 0.2rem 1rem;

        > .name {
            font-size: 2.5rem;
        }
        > .cardcount {
        }
        > .nsfw {
        }
    }

    .remove {
        display: flex;
        background-color: lighten($setting-background, 15%);
        border-radius: 0 10px 10px 0;
        padding: 1rem;
        margin: 0.2rem 0;
        justify-items: center;
        align-items: center;

        &:hover {
            background-color: $cardpack-remove-hover;
        }
    }
}

.disabled {
    .remove {
        pointer-events: none;
    }
}
