//// Basic color palette
// Colorless colors
$color-black: #000000;
$color-white: #ffffff;
$color-very-dark-grey: #111111;
$color-dark-grey: #222222;
$color-darkening-grey: #303030;
$color-darkish-grey: #363636;
$color-grey: #727272;
$color-light-grey: #bdbdbd;
// Mildly colorfull colors
$color-gray-blue: #2f373d;
// Bright colors
$color-bright-yellow: #ffc518;
$color-yellow: #ce9a00;
$color-orange: #cb4b16;
$color-red: #dc322f;
$color-magenta: #d33682;
$color-violet: #6c71c4;
$color-blue: #268bd2;
$color-cyan: #2aa198;
$color-green: #3ea056;
// Colors with opacity
$color-black-50: rgba(20, 20, 20, 0.5);

// Colors in usage

// Header
$header-background: $color-black;
$header-text: $color-white;
$header-shadow: $color-dark-grey;
$header-button-text-hover: $color-white;
$header-button-hover: darken($color-blue, 15%);

// App general

$app-background: $color-darkening-grey;
$app-text: $color-white;

// Tooltips

$tooltip-background: $color-dark-grey;
$tooltip-text: lighten($color-light-grey, 20%);

$menu-background: $color-dark-grey;
$menu-text: $color-white;

// Buttons

$button-text: $color-black;
$button-text-primary: $color-white;
$button-text-green: $color-white;

$button-border: $color-white;
$button-border-primary: $color-blue;
$button-border-green: $color-green;

$button-background: $color-light-grey;
$button-shadow: $color-white;
$button-background-hover: lighten($color-light-grey, 30%);
$button-shadow-hover: lighten($color-white, 10%);

$button-background-primary: darken($color-blue, 30%);
$button-shadow-primary: darken($color-blue, 10%);
$button-background-primary-hover: darken($color-blue, 20%);
$button-shadow-primary-hover: darken($color-blue, 0%);

$button-background-green: darken($color-green, 20%);
$button-shadow-green: darken($color-green, 0%);
$button-background-green-hover: darken($color-green, 10%);
$button-shadow-green-hover: lighten($color-green, 10%);

// Icon

$icon-basic: $color-white;
$icon-green: $color-green;
$icon-blue: $color-blue;
$icon-white: $color-white;
$icon-black: $color-black;
$icon-red: $color-red;
$icon-grey: $color-grey;

$icon-light-blue: lighten(#268bd2, 20%);

// Input

$input-background: $color-dark-grey;
$input-background-hover: lighten($color-dark-grey, 5%);
$input-background-focus: lighten($color-dark-grey, 5%);
$input-underline: $color-light-grey;
$input-text: $color-white;

// Footer

$copyright-text: $color-grey;
$music-player: $color-grey;

// Players widget

$players-background: $color-darkish-grey;
$players-background-shadow: lighten($color-darkish-grey, 10%);
$players-background-hover: darken($color-grey, 20%);
$players-own-name: lighten($color-blue, 10%);

// Player statuses

$player-ready: $color-green;
$player-waiting: $color-yellow;
$player-ghost: $color-light-grey;
$player-error: $color-red;
$player-card-czar: $color-dark-grey;

// Icons

$icon-win: $color-bright-yellow;
$icon-popular-vote: $color-blue;
$icon-border: $color-white;

// Timer

$timer-background: lighten($color-darkish-grey, 10%);
$timer-progress: $color-blue;

// Settings
$settings-container-background: lighten($color-darkish-grey, 10%);
$settings-text: $color-white;
$settings-text-disabled: darken($color-light-grey, 10%);
$settings-divider: $color-light-grey;
$setting-background: darken($color-grey, 2%);
$setting-background-hover: lighten($color-grey, 5%);
$settings-item-hover-text-shadow: darken($color-blue, 10%);
$settings-item-hover-text: $color-white;
$settings-control: $color-white;
$settings-control-shadow: darken($color-blue, 10%);
$settings-control-disabled: darken($color-light-grey, 10%);
$settings-icon-disabled: darken($color-light-grey, 10%);
$settings-icon: lighten($color-cyan, 8%);

$cardpack-remove-hover: $color-orange;

// Card
$white-card-background: $color-white;
$white-card-text: $color-very-dark-grey;
$black-card-background: $color-very-dark-grey;
$black-card-text: $color-white;
$card-selected: $color-bright-yellow;
$card-confimerd: $color-green;

// Notification
$notification-text: $color-white;
$notification-background: rgba(34, 34, 34, 0.85);
$notification-border: $color-blue;
$notification-border-error: $color-red;
$notification-border-success: $color-green;
