//// Basic color palette
// Colorless colors
$color-black: #000000;
$color-white: #ffffff;
$color-dark-grey: #222222;
$color-darkish-grey: #363636;
$color-grey: #727272;
$color-light-grey: #bdbdbd;
// Bright colors
$color-bright-yellow: #ffc518;
$color-yellow: #ce9a00;
$color-orange: #cb4b16;
$color-red: #dc322f;
$color-magenta: #d33682;
$color-violet: #6c71c4;
$color-blue: #268bd2;
$color-cyan: #2aa198;
$color-green: #459900;

// Colors in usage

// Header
$header-background: $color-black;
$header-text: $color-white;
$header-shadow: $color-dark-grey;
$header-button-text-hover: $color-white;
$header-button-hover: darken($color-blue, 15%);

// App general

$app-background: $color-dark-grey;
$app-text: $color-white;

// Buttons

$button-text: $color-black;
$button-text-primary: $color-white;

$button-border: $color-white;
$button-border-primary: $color-blue;

$button-background: $color-light-grey;
$button-shadow: $color-white;
$button-background-hover: lighten($color-light-grey, 30%);
$button-shadow-hover: lighten($color-white, 10%);

$button-background-primary: darken($color-blue, 30%);
$button-shadow-primary: darken($color-blue, 10%);
$button-background-primary-hover: darken($color-blue, 20%);
$button-shadow-primary-hover: darken($color-blue, 0%);

// Input

$input-background: $color-dark-grey;
$input-background-hover: lighten($color-dark-grey, 5%);
$input-background-focus: lighten($color-dark-grey, 5%);
$input-underline: $color-light-grey;
$input-text: $color-white;

// Footer

$copyright-text: $color-grey;
$music-player: $color-grey;

// Players widget

$players-background: $color-darkish-grey;
$players-background-shadow: lighten($color-darkish-grey, 10%);
$players-background-hover: darken($color-grey, 20%);

// Player statuses

$player-ready: $color-green;
$player-waiting: $color-yellow;
$player-ghost: $color-light-grey;
$player-error: $color-red;
$player-card-czar: $color-dark-grey;

// Icons

$icon-win: $color-bright-yellow;
$icon-popular-vote: $color-blue;
$icon-border: $color-white;

// Timer

$timer-background: $color-darkish-grey;
$timer-progress: $color-blue;

// Settings
$settings-text: $color-white;
$settings-text-disabled: darken($color-light-grey, 10%);
$settings-divider: $color-light-grey;
$setting-background: darken($color-grey, 5%);
$setting-background-hover: darken($color-grey, 0%);
$settings-item-hover-text-shadow: darken($color-blue, 10%);
$settings-item-hover-text: $color-white;
