@import "./colors.scss";

.footer {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    height: fit-content;
}

.copyrights {
    position: fixed;
    bottom: 0;
    right: 10px;
    color: $copyright-text;
    font-size: 0.6em;
}

.music-player {
    color: $music-player;
}
