@import "./colors.scss";

.music-player {
    user-select: auto;
}

.main-footer {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1.6rem 0 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    > * {
        color: $copyright-text;
        user-select: none;
    }
}
