.game-settings-container {
    color: $settings-text;
    background: $settings-container-background;

    padding-bottom: 0.4em;
    border-radius: 2px;

    cursor: default;
    user-select: none;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;

    @include small-desktop {
        padding: 1.5rem 2rem 2rem 2rem;
        max-width: 60em;
    }

    .start-game-button-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        @include mobile-only {
            > .button {
                box-shadow: 0 -0.2em 0.4em $color-black-50;
            }
            .big-btn {
                position: fixed;
                bottom: 0px;
                left: 0px;
                right: 0px;
                border-radius: 0;
                z-index: 30;
                justify-content: center;
            }
        }

        @include small-desktop {
            margin-top: 0.5em;

            .big-btn {
                position: static;
                bottom: 0px;
                border-radius: 6px;
            }
        }
    }

    .start-game-button-empty-space {
        opacity: 0;

        @include small-desktop {
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }

    .game-settings-title {
        font-size: 1.4rem;
        padding: 0 0.6rem;
        margin: 0;
        margin-top: 0.5rem;

        @include small-desktop {
            padding: 0;
        }
    }

    .game-settings-info {
        display: flex;
        flex-direction: row;

        font-size: 0.9rem;
        color: $icon-light-blue;

        > .icon {
            margin-right: 0.6em;
        }

        > .link:hover {
            text-decoration: underline;
        }
    }

    .game-settings-quick-select {
        margin-top: 0.2em;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 0.3em;
    }

    &.disabled {
        user-select: none;
        cursor: default;

        .setting {
            &:hover {
                text-shadow: none;
                background-color: $setting-background;
            }

            .button-icon {
                cursor: default;

                &.active {
                    color: $settings-control;
                    text-shadow: none;
                }
            }

            .text-control {
                .text-input {
                    background-color: lighten($input-background, 15%);
                    color: $settings-text-disabled;
                    border: none;

                    pointer-events: none;
                }

                .button {
                    pointer-events: none;
                    background: linear-gradient(180deg, darken($button-shadow, 40%), darken($button-background, 40%)) $button-background;
                    border: 1px solid darken($settings-text-disabled, 10%);
                    color: $settings-text-disabled;
                }
            }
        }
    }
}

.game-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.settings-block {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.setting {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0.2rem 0.8rem;
    margin: 0.2rem 0;
    border-radius: 2px;
    background-color: $setting-background;

    &.text-control {
        flex-wrap: wrap;
    }

    .icon-and-text {
        align-items: center;
        width: fit-content;
        display: flex;
        flex-grow: 0;
        flex-shrink: 1;
        margin-right: 1em;
    }

    .control {
        display: flex;

        flex-grow: 1;
        margin: auto 0;
        align-items: center;
        justify-content: flex-end;

        width: fit-content;

        > .text-control {
            flex-grow: 1;
        }
    }

    &:hover {
        background-color: $setting-background-hover;
        color: $header-button-text-hover;

        .control {
            text-shadow: none;
        }
    }
}

.imported-card-packs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    margin-top: 0.6em;

    max-height: 10em;
    overflow-y: auto;
}

.icon-and-text {
    display: flex;
    flex-direction: row;

    .icon-margin-right {
        margin-right: 0.6em;
        text-shadow: none;
    }
}

.button-icon {
    &.active {
        color: $settings-control;
        @include text-shadow;
    }

    &.disabled {
        color: $settings-control-disabled;
        text-shadow: none;
    }
}

.number-control {
    display: flex;
    flex-direction: row;
    align-items: center;

    .number {
        margin-left: -0.5rem;
        margin-right: 0.3rem;
        min-width: 1.4rem;
        text-align: center;

        &.three-numbers {
            min-width: 2rem;
        }
    }
}

.collabsible-settings-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 6;

    > .setting {
        @include left-side-border;

        &.title {
            cursor: pointer;
            border: none;
            width: 100%;
        }
    }
}
