@import "./colors.scss";

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.3rem 0;
    color: $color-white;
    background: linear-gradient(180deg, $header-shadow, $header-background)
        $header-background;
    user-select: none;
    font-size: 1.5rem;
    max-height: 2rem;

    .logo {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }

    margin-bottom: 0.5em;
}

.header-text {
    margin: 0 0.8rem;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    user-select: none;
}

.buttons {
    display: flex;
    margin-right: 1.2rem;
    justify-items: center;
    align-items: center;

    // All except the first child.
    :nth-child(n + 2) {
        border-left: $color-white 1px solid;
        padding-left: 0.8rem;
    }
}

.header-button {
    display: flex;
    justify-items: center;
    align-items: center;
    padding-right: 0.8rem;
    cursor: pointer;

    :nth-child(n) {
        border-left: none;
        padding-left: 0;
    }

    &:hover {
        transition: 0.1s ease;
        color: $header-button-text-hover;
        text-shadow: -2px -2px $header-button-hover,
            -2px -1.5px $header-button-hover, -2px -1px $header-button-hover,
            -2px -0.5px $header-button-hover, -2px 0px $header-button-hover,
            -2px 0.5px $header-button-hover, -2px 1px $header-button-hover,
            -2px 1.5px $header-button-hover, -2px 2px $header-button-hover,
            -1.5px 2px $header-button-hover, -1px 2px $header-button-hover,
            -0.5px 2px $header-button-hover, 0px 2px $header-button-hover,
            0.5px 2px $header-button-hover, 1px 2px $header-button-hover,
            1.5px 2px $header-button-hover, 2px 2px $header-button-hover,
            2px 1.5px $header-button-hover, 2px 1px $header-button-hover,
            2px 0.5px $header-button-hover, 2px 0px $header-button-hover,
            2px -0.5px $header-button-hover, 2px -1px $header-button-hover,
            2px -1.5px $header-button-hover, 2px -2px $header-button-hover,
            1.5px -2px $header-button-hover, 1px -2px $header-button-hover,
            0.5px -2px $header-button-hover, 0px -2px $header-button-hover,
            -0.5px -2px $header-button-hover, -1px -2px $header-button-hover,
            -1.5px -2px $header-button-hover;
    }
}

.header-button-text {
    margin-bottom: -0.3rem;
}

.header-icon {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 0.5rem;
}

.thinking-icon {
    width: 1.4rem;
}
