.header-link {
    width: fit-content;
}

.header {
    font-size: 0.8rem;
    line-height: 1em;
    --burger-menu-width: 11em;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    box-sizing: border-box;
    padding: 0.3em 0;

    color: $color-white;
    background: linear-gradient(180deg, $header-shadow, $header-background) $header-background;
    user-select: none;

    .logo {
        width: 1em;
        height: 1em;
        margin-right: 0.5em;
    }
}

.header-link {
    width: 100%;
    max-width: calc(100% - var(--burger-menu-width));
}

.header-logo-and-name {
    font-weight: 800;

    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 0 0.6em;
    width: 100%;

    user-select: none;
    cursor: pointer;

    .name {
        white-space: nowrap;

        @include cut-text;
    }
}

.buttons {
    display: flex;
    flex-shrink: 0;
    justify-items: center;
    align-items: center;

    // All except the first child
    > *:not(:first-child) {
        border-left: $color-white 1px solid;
        padding-left: 0.4em;
    }
}

.header-button {
    display: flex;
    justify-items: center;
    align-items: center;
    padding-right: 0.4em;
    cursor: pointer;
    flex-shrink: 1;

    > * {
        border-left: none;
        padding-left: 0;
    }

    &.language {
        flex-direction: column;
    }

    &:hover {
        transition: 0.1s ease;
        color: $header-button-text-hover;
        @include text-shadow;

        .tippy-content {
            text-shadow: none;
        }
    }
}

.header-button-text {
    display: none;

    @include small-desktop {
        display: block;
        line-height: 1em;
    }
}

.header-icon {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 0;

    @include small-desktop {
        margin-right: 0.3em;
    }
}

.thinking-icon {
    height: 0.8rem;
}
