.header-link {
    width: fit-content;
}

.header {
    --burger-menu-width: 11em;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;

    width: 100%;
    height: 2em;

    box-sizing: border-box;
    padding: 0.3rem 0;

    color: $color-white;
    background: linear-gradient(180deg, $header-shadow, $header-background)
        $header-background;
    user-select: none;

    .logo {
        width: 1.6em;
        height: 1.6em;
        margin-right: 0.5rem;
    }
}

.header-link {
    width: 100%;
    max-width: calc(100% - var(--burger-menu-width));
}

.header-logo-and-name {
    font-weight: 800;

    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;

    margin: 0 0.8rem;
    width: 100%;

    user-select: none;
    cursor: pointer;

    .name {
        white-space: nowrap;

        @include cut-text;
    }
}

.buttons {
    display: flex;
    flex-shrink: 0;
    margin-right: 0.2em;
    justify-items: center;
    align-items: center;

    // All except the first child.
    :nth-child(n + 2) {
        border-left: $color-white 1px solid;
        padding-left: 0.8rem;
    }
}

.header-button {
    display: flex;
    justify-items: center;
    align-items: center;
    padding-right: 0.8rem;
    cursor: pointer;
    flex-shrink: 1;

    :nth-child(n) {
        border-left: none;
        padding-left: 0;
    }

    &.language {
        flex-direction: column;
    }

    &:hover {
        transition: 0.1s ease;
        color: $header-button-text-hover;
        @include text-shadow;

        .menu-container {
            text-shadow: none;
        }
    }
}

.header-button-text {
    display: none;
    margin-bottom: -0.3rem;

    @include small-desktop {
        display: block;
    }
}

.header-icon {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 0;

    @include small-desktop {
        margin-right: 0.5rem;
    }
}

.thinking-icon {
    width: 1.4rem;
}
