.history-container {
    overflow-y: auto;
    height: 80%;

    .title {
        font-size: 1.8rem;
    }
    .container {
        display: flex;
        flex-direction: column;
    }

    .one-round-history {
        .title {
            font-size: 1.4rem;
        }
        .cards-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .card-wrapper {
                margin: 0.5em 0.5em;
            }
        }
    }
}
