@import "./colors.scss";

.home-wrapper {
    user-select: none;

    height: 100%;
    width: 100%;

    box-sizing: border-box;
    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .welcome-text {
        color: $app-text;
        font-family: "Staatliches", cursive;
        font-size: 1.8em;
        text-align: center;

        width: fit-content;
        max-width: 16em;

        margin-bottom: 2em;

        @include text-shadow;
    }

    .create-or-join-game-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $app-text;

        .border {
            border-top: $color-white 1px solid;
            padding: 2em 0;
            margin: 2em 0;
        }

        @include small-desktop {
            flex-direction: row;

            .border {
                border-top: none;
                border-left: $color-white 1px solid;
                padding: 2em 2em;
                margin: 2em 2em;
            }
        }

        .container {
            display: flex;
            flex-direction: column;
            align-content: center;
            width: 100%;

            @include small-desktop {
                flex: 1;
            }

            .text {
                align-self: center;
                margin: 2rem;
                margin-top: 0;
                font-size: larger;
                text-align: center;
            }

            .input-and-button-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    }
}
