.home-wrapper {
    user-select: none;

    height: 100%;
    width: 100%;

    box-sizing: border-box;

    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .welcome-text {
        margin: 0;
        color: $app-text;
        font-family: 'Staatliches', cursive;
        font-size: 1.4rem;
        text-align: center;

        width: fit-content;
        max-width: 16em;

        margin-bottom: 1em;

        @include small-desktop {
            margin-bottom: 2em;
        }

        @include text-shadow;
    }

    .create-or-join-game-buttons {
        color: $app-text;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 100%;
        max-width: 60em;

        .border {
            border-top: $color-white 1px solid;
            padding: 1.6em 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: flex-start;
            width: 100%;
            padding: 1.6em 0;

            .text {
                align-self: center;
                margin: 1em;
                margin-top: 0;
                text-align: center;
            }

            .input-and-button-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                align-self: center;

                width: 100%;
                max-width: 30em;

                > .text-control {
                    flex-grow: 1;
                    max-width: 20em;
                }
            }
        }

        @include small-desktop {
            flex-direction: row;

            .container {
                padding: 0 1.6em;
                flex: 1;
            }

            .border {
                border-top: none;
                border-left: $color-white 1px solid;
            }
        }
    }
}
