.material-icons {
    font-size: inherit;
    color: $icon-basic;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: normal;

    user-select: none;

    &.clickable {
        cursor: pointer;
    }

    &.disabled {
        cursor: default;
        color: $icon-grey;
    }

    &.white {
        color: $icon-white;
    }

    &.black {
        color: $icon-black;
    }

    &.blue {
        color: $icon-blue;
    }

    &.light-blue {
        color: $icon-light-blue;
    }

    &.green {
        color: $icon-green;
    }

    &.red {
        color: $icon-red;
    }

    &.grey {
        color: $icon-grey;
    }
}

.button-icon {
    cursor: pointer;
}
