.text-input {
    align-self: center;
    background-color: $input-background;
    color: $input-text;
    border: 0;
    border-bottom: 1px solid $input-underline;
    border-radius: 3px;
    height: 100%;
    padding: 0.5rem;

    &:hover {
        background-color: $input-background-hover;
    }

    &:focus {
        background-color: $input-background-hover;
    }
}

.disabled .text-input {
    background-color: lighten($input-background, 15%);
    color: $settings-text-disabled;
    border: none;

    pointer-events: none;
}
