.radio {
    display: flex;
    flex-direction: row;

    .radio-channel-changers-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > .channel-name {
            display: flex;
            min-width: 2.3em;
            justify-content: center;
        }
    }

    .spinner {
        margin-left: 0.2em;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        > svg {
            max-height: 1em;
        }
    }
}
