::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $players-background-shadow;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lighten($players-background-shadow, 10%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lighten($players-background-shadow, 15%);
}

.players-widget {
    background-color: $players-background-shadow;
    border-radius: 2px 2px 0 0;

    cursor: default;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.4em;

    padding: 0.6rem;
    min-height: 2em;
    overflow-x: auto;
    overflow-y: hidden;

    @include small-desktop {
        min-height: 4em;
        max-height: 4em;
        overflow-x: hidden;
        overflow-y: auto;
    }

    scrollbar-color: lighten($players-background-shadow, 10%) $players-background-shadow;

    &.no-active-players {
        justify-content: center;
        align-items: center;
        flex-direction: row;

        > .material-icons {
            margin-right: 0.3em;
        }
    }

    &.loading {
        justify-content: center;
        align-items: center;
    }
}

.player-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0.15em 0.5em;
    border-radius: 0.8em;
    background-color: $players-background-hover;
}

.player {
    box-sizing: border-box;

    // Is there a legit way to do this???
    :last-child:after {
        content: '';
        display: block;
        position: absolute;
        width: 0.6rem;
        margin: 0.6rem;
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include small-desktop {
        height: 100%;
        border-radius: 1rem;
        padding: 0.4rem 0.8rem;
        flex-direction: column;
    }

    align-items: center;
    justify-content: space-between;
    transition: width 2s, height 4s;

    .score {
        //padding-top: 0.12em;
        //color: $icon-win;
        margin-left: 0.2em;

        @include small-desktop {
            color: $app-text;
            margin-left: 0;
        }
    }

    .icon-anchor {
        width: 100%;
        height: 0;
        position: relative;
        top: 0;
        right: 0;
        overflow: visible;

        .crown-icon {
            width: 0.9em;

            position: absolute;
            top: -1.3rem;
            left: -0.6rem;
            transform: rotate(-30deg);

            @include small-desktop {
                width: 1em;
                top: -0.95rem;
                left: -1rem;
            }
        }
    }
}

.player-name {
    width: fit-content;
    max-width: 3em;

    @include small-desktop {
        max-width: 4em;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.no-name {
        font-style: italic;
        padding-right: 0.2rem;
    }

    i {
        margin-left: 0.6rem;
    }
}

.host {
    .player-name {
        text-decoration: underline;
    }
}

.myself {
    .player-name {
        color: $players-own-name;
    }
}

.player-status {
    margin-right: 0.2rem;
}

.player-name-and-status {
    display: flex;
    align-content: center;
    justify-content: center;
}

// Previously known as "player-scores"
.🦄 {
    display: flex;
    align-content: center;
    justify-content: center;
    user-select: none;
    margin-left: 0.2em;
    width: fit-content;
}

.player-score {
    display: flex;
    align-content: center;
    justify-content: center;
}

.player-popularVoteScore {
    display: flex;
    align-content: center;
    justify-content: center;
}

.win-icon {
    display: none;
    margin-right: 0.1em;

    @include small-desktop {
        display: block;
    }
}

.popular-vote-icon {
    margin-right: 0.2rem;
    margin-left: 0.4rem;
    padding-left: 0.4rem;
    //border-left: 1px solid white;
}

.status-active {
    color: $player-ready;
}

.status-playing {
    color: $player-waiting;
}

.status-waiting {
    color: $player-ready;
}

.status-joining {
    color: $player-ghost;
}

.status-pickingName {
    color: $player-ghost;
}

.status-disconnected {
    color: $player-error;
}

.status-spectating {
    color: $player-ghost;
}

.status-kicked {
    color: $player-error;
}

.status-card-czar {
    color: $player-card-czar !important;
}

.win-icon {
    color: $icon-win;
}

.popular-vote-icon {
    color: $icon-popular-vote;
}

.icon-with-border {
    @include text-shadow;
}
