.slider {
    .title {
        margin-bottom: 0.2em;
    }
    .slider-container {
        display: flex;
        align-items: center;
        .slider-value {
            min-width: 1.2em;
        }
        .slider-itself {
            width: 100%;
        }
    }
}
