.text-control {
    //width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    .text-input {
        // This should fit on mobile still, I think...
        //flex-basis: 10em;
        flex-grow: 1;
    }

    .button {
        flex-grow: 0;
    }

    gap: 0.1em;

    @include small-desktop {
        gap: 0.25em;
    }
}
