.text-control {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    --padding: 0.2em;
    --height: 1.8em; // Browser handle things differently, so this fixes it.

    > .text-input {
        flex-grow: 1;
        padding-top: var(--padding);
        padding-bottom: var(--padding);
        height: var(--height);
    }

    > .button {
        // Something weird going on, but this seems to fix it.
        --button-padding: calc(var(--padding) + 0.1em);

        flex-grow: 0;
        padding-top: var(--button-padding);
        padding-bottom: var(--button-padding);
        height: var(--height);
    }

    gap: 0.1em;

    @include small-desktop {
        gap: 0.25em;
    }
}
