.progress-div {
    background-color: lighten($timer-background, 5%);
    border-radius: 0 0 2px 2px;
    display: flex;
}

.no-animation {
    background-color: $timer-progress;
    height: 10px;
    border-radius: 0 0 0 2px;
    transition: none;
}

.progress {
    background-color: $timer-progress;
    height: 10px;
    border-radius: 0 0 2px 2px;
    //transition-duration: 10s; // Added as an inline style.
    transition-timing-function: linear;

    &.continuing {
        border-radius: 0 0 2px 0;
    }

    &.reverse {
        //transition-delay: 0.5s;
        margin-left: auto;
    }
}
